<div class="navbar-header" [ngClass]="gdkConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/logo.png">
        <span class="logo-text">GDK</span>
    </div>

    <button mat-icon-button class="toggle-sidebar-folded"
            (click)="toggleSidebarFolded()" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened"
            (click)="toggleSidebarOpened()" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" gdkPerfectScrollbar [gdkPerfectScrollbarOptions]="{suppressScrollX: true}"
     [ngClass]="gdkConfig.layout.navbar.primaryBackground">
    <gdk-navigation layout="vertical"></gdk-navigation>
</div>